
<div class="row">
  <div class="col s9">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col s6">
          <%= render partial: "articles/card", object: article, as: 'article' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col s3">
    <%= render "layouts/aside" %>
  </div>
</div>
