// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// .my-card-title{
//     width: 75%;
//     height:1.8rem;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     transition: color 0.3s;

// }
// .my-card-lead{
//   $font-size: 14px;
//   $line-height: 1.4;
//   $lines-to-show: 3;
//   display: -webkit-box;
//   max-width: 400px;
//   font-size: $font-size;
//   line-height: $line-height;
//   -webkit-line-clamp: $lines-to-show;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
//   text-overflow: ellipsis;
//  }


#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.date {
  background-color: #2980b9;
  color: #fff;
  min-height: 48px;
  min-width: 48px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
  position: relative;
  top: 4px;
  left: -9px;
}
.date span {
  display: block;
  line-height: 24px;
}
.date .month {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
}

@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.card-footer {
  padding: 0 25px;
  color: #20638f;
  font-size: 1em;
  line-height: 30px;
  text-align: right;
}
.card-footer > div {
  display: inline-block;
  margin-left: 10px;



  text-align: center;

  text-transform: uppercase;
  float: right;
  position: relative;
  top: -9px;
  left: -20px;


}
.card-footer i {
  color: #20638f;
  margin-right: 5px;
}


.card-title{
  line-height: 30px !important;
}

.card .card-content{
    padding: 54px 14px !important;
}

.card-content p{
  margin-top: 10px !important;
}


.card-action{
  text-align: center;
}


.card {
    position: relative;
    height: 430px;
    margin: 0.5rem 0 1rem 0;

    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-action {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    height: 55px;
}

.card-writer {
    margin-bottom: 12px;
    text-align: left;
    position: absolute !important;
    width: 100%;
    bottom: 20px;
}


.card-category .chip{
  color: #20638f;
  font-size: 14px;
  background-color: white;
  float: left;
  margin-top: 8px;
}

.author .chip{
  color: #20638f;
  font-size: 14px;
  background-color: white;
  position: relative !important;
  bottom: 9px !important;
}

.buttons-article{
  display: block;
}


#no-like-button{
  display: none;
}

.button-read-after{
  top: 11px;
  right: 75px;
  position: absolute;
}
