
      <div class="row">
         <div class="col s12">
            





         </div>




         <div class="col s12">
            <div class="card blue-grey lighten-4">
               <div class="card-content">
                  <%= link_to 'New Article', new_user_article_path(current_user), class: "waves-effect waves-light btn" %>
               </div>
            </div>
         </div>
         <div class="col s12">
            <div class="card blue-grey lighten-4">
               <div class="card-content">
                  <%= link_to("Articles", articles_path, class: "waves-effect waves-light btn") %> 
               </div>
            </div>
         </div>
         <div class="col s12">
            <div class="card blue-grey lighten-4">
               <div class="card-content">
                  <%= link_to("Users", users_path, class: "waves-effect waves-light btn") %>
               </div>
            </div>
         </div>
         <div class="col s12">
            <div class="card blue-grey lighten-4">
               <div class="card-content">
                  <%= link_to("Create User", new_user_path, class: "waves-effect waves-light btn") %> 
               </div>
            </div>
         </div>

       </div>