
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>¿Quieres leer las noticias?</h4>
    <p>
      Necesitas iniciar sesión para poder ver las noticias. Si aún no eres
      usuario, regístrate. ¿A qué esperas? Únete.
    </p>
  </div>
  <div class="modal-footer">
    <a href="/users/sign_up" class=" modal-action modal-close waves-effect waves-green btn-flat">Regístrate</a>
    <a href="/users/sign_in" class=" modal-action modal-close waves-effect waves-green btn-flat">Login</a>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>¿Quieres leer la noticia?</h4>
    <p>
      Es muy fácil. Pulsa el botón 'Pay with card' y rellena la información.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Volver</a>
  </div>
</div>
