
<nav>
  <div class="row">
    <div class="background-4 nav-wrapper principal-nav col s12">
      <div class="input-field col s4">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
      <div class="col s8">
        <% if current_user %>
          <a href="/articles" class="my-logo brand-logo center">NewsPay</a>
        <% else %>
          <a href="/" class="my-logo brand-logo center">NewsPay</a>
        <% end %>
        <ul id="nav-mobile" class="my-sign-buttons right hide-on-med-and-down">
          <% unless user_signed_in? %>
            <li><%= link_to 'Regístrate', new_user_registration_path %> </li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>


