


<nav>
  <div class="nav-wrapper principal-nav">
    <a href="/" class="brand-logo center">NewsPay</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %>
          <% else %> 
            <li><%= link_to 'Sign_up', new_user_registration_path %> </li>
            <li><%= link_to 'Sign_in', new_user_session_path %></li>
          <% end %>
        </ul>
  </div>
</nav>


